<div ng-controller="wpembedCtrl" class="module wpembed">


  <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
      <div class="loader" ng-show="loading && loader.enabled">
          <img src="{{loader.img}}"/>
          <h4>{{loader.text}}</h4>
      </div>
      
    <iframe hide-onload id="iframetest" type="text/html" allowfullscreen=""
    ng-src="{{url}}"
      frameborder="0"
      width="100%"
      height="100%"
      scrolling="yes"
      sandbox="allow-scripts allow-same-origin allow-top-navigation allow-forms allow-popups allow-pointer-lock allow-popups-to-escape-sandbox allow-downloads"
      allow="geolocation"
      ></iframe>
      <div class='iframeLoading embedLoading'>
        <div class='transitionloader'>
        </div>
      </div>
      
      <div ng-class="statusBarClass" ng-show="showMsgBar" class="msgBar">
          <p>{{message}}</p>
      </div>
      
      <style>
          .wpembed .msgBar{
              position: absolute;
              color: white;
              z-index: 2;
              width: 100%;
              text-align: center
          }
          
          .wpembed .msgBar.message{
              background: green;
          }
          
          .wpembed .msgBar.warning{
              background: yellow;
              color:black;
          }
          
          .wpembed .msgBar.error{
              background: red;
          }
          
      </style>
  </div>
  